{{extend 'layout.html'}}

{{block head}}

        <script src="{{=URL('static', 'js/vue.js')}}"></script>
        <link href="{{=URL('static','css/Alfredo_custom.css')}}" rel="stylesheet" type="text/css"/>
        <script>
            // Define URLS
            var get_watch_list_url = "{{=URL('api','get_watch_list')}}";
            var test_url = "{{=URL('api','testing')}}";
            var test_post_entry_url = "{{=URL('api','test_post_entry')}}";
            var search_for_anime_url = "{{=URL('api', 'search_for_anime')}}";
            var add_selected_to_planToWatch_url = "{{=URL('api', 'add_selected_to_planToWatch')}}";
            var add_favorites_url = "{{=URL('api', 'add_favorites')}}";
            var remove_favorites_url = "{{=URL('api', 'remove_favorites')}}";
            var get_favorites_list_url = "{{=URL('api', 'get_favorites_list')}}";
            var get_anime_info_url = "{{=URL('api', 'get_anime_info')}}";
            var update_users_stats_url = "{{=URL('api', 'update_users_stats')}}";
            var get_random_show_url = "{{=URL('api', 'get_random_show')}}";
            var log_out_url = "{{ =URL('default', 'user', args='logout') }}";
            //var go_to_index = "{{=URL('default', 'index')}}";
            console.log(log_out_url);
            var user_logged_in = false;
        </script>
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->

  <div id="vue-div" class="display:none">

      {{if auth.user is not None:}}
          <script>user_logged_in = true;</script>

          <!-- Defines the sidebar that allows the user to navigate the space -->
          <div class="sidebar" id="my_side_menu">
              <button class="rounded center" id="user_icon" v-on:click="menu_button_clicked('home')">
                  <img src="../static/images/logo.png" style="width: 100px;">
                  <!-- <i class="fa fa-user fa-5x"></i> -->
              </button>

              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('home')">
                  <i class="fa fa-home fa-2x"></i>
              </button>
              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('favorites')">
                  <i class="fa fa-heart fa-2x"></i>
              </button>
              <!-- <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('add')">
                  <i class="fa fa-plus fa-2x"></i>
              </button> -->
              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('search')">
                  <i class="fa fa-search fa-2x"></i>
              </button>
              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('random')">
                  <i class="fa fa-question-circle fa-2x"></i>
              </button>
              <button class="rounded center" id="sign_out" v-on:click='log_out'>
                  <!-- <i class="fa fa-sign-out fa-2x"></i> -->
                  {{=A('',XML('<i class="fa fa-sign-out fa-2x" style="color: white"></i>'), _href=URL('default', 'user', args='logout'))}}
              </button>
          </div>

          <!-- Creates the Tabs for different lists when on the home screen -->
          <div class="tabs" v-if="(current_page === 'watching') || (current_page === 'planToWatch') || (current_page === 'completed') || (current_page === 'onHold') || (current_page === 'dropped') || (current_page === 'home')">
              <button class="tab_link" id="initial" v-on:click="tab_clicked('watching', $event)">Watching</button>
              <button class="tab_link" v-on:click="tab_clicked('planToWatch', $event)">Planned</button>
              <button class="tab_link" v-on:click="tab_clicked('onHold', $event)">On Hold</button>
              <button class="tab_link" v-on:click="tab_clicked('completed', $event)">Completed</button>
              <button class="tab_link" v-on:click="tab_clicked('dropped', $event)">Dropped</button>

          </div>

          <!-- Defines the container used when displaying lists of shows ---------------------------------------------------------- -->
          <div class="shows_container container" style="background-color: #E1E7F5; padding-top: 20px; padding-left: 100px;"
          v-if="(current_page === 'watching') || (current_page === 'planToWatch') || (current_page === 'completed') || (current_page === 'onHold') || (current_page === 'dropped') || (current_page === 'home')">

              <div v-if="no_shows" class="Welcome">
                <div class="Welcome_title"><h2>Welcome to Anime Tracker</h2></div>
                <div class="Welcome_paragraph">
                  <ul>
                    <li>It seems you don't have any anime on this list.<li>
                    <li>To begin adding anime, hover over the menu bar on the leftside of the screen.You can search for new anime using the search tool.</li>
                    <li>From there you can add anime and they will instantly appear in your <i>Planned-To-Watch</i> List.</li>
                  </ul>
                </div>
              </div>
              <!-- planToWatch List of shows -->
              <ul v-if="current_page === 'planToWatch'">
                <li v-for="(show, index) in planToWatch" style="display: inline-block; margin-left:20px; margin-right: 20px; vertical-align: top;">
                  <div class="card" style="width:300px; height: 650px; background-color: #2C363F; color: white;">
                    <img class="card-img-top" style="height: 400px" v-bind:src="show.image_url" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">${show.title}</h4>
          
                      <div class="card-body" style="padding-left: 0px;">
                        <button v-if="show.favorite == false" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                          <i class="fa fa-heart fa-2x"></i>
                        </button>
                        <button v-if="show.favorite == true" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)">
                            <i class="fa fa-heart fa-2x" style="color: red"></i>
                        </button>

                        <button v-on:click="info_button_clicked(show.mal_id)" style="border-radius: 10px; background-color: #2E51A2;">
                          <i class="fa fa-info-circle fa-2x"></i>
                        </button>
                      </div>

                      <h6>Episodes: ${show.episodes_watched} / ${show.episode_number}</h6>
        
                    </div>
                    <div class="progress ">
                      <div class="progress-bar" role="progressbar" 
                      v-bind:style="{width: (show.episodes_watched * 100 /show.episode_number) + '%'}"
                       aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li>
              </ul>

              <ul v-if="current_page === 'watching'">
                <li v-for="(show, index) in watching" 
                style="display: inline-block; margin-left:20px; margin-right: 20px; vertical-align: top;">
                  <div class="card" style="width:300px; height: 650px; background-color: #2C363F; color: white;">
                    <img class="card-img-top" style="height: 400px" v-bind:src="show.image_url" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">${show.title}</h4>
          
                      <div class="card-body" style="padding-left: 0px;">
                        <button v-if="show.favorite == false" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                          <i class="fa fa-heart fa-2x"></i>
                        </button>
                        <button v-if="show.favorite == true" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)">
                            <i class="fa fa-heart fa-2x" style="color: red"></i>
                        </button>

                        <button v-on:click="info_button_clicked(show.mal_id)" style="border-radius: 10px; background-color: #2E51A2;">
                          <i class="fa fa-info-circle fa-2x"></i>
                        </button>
                      </div>

                      <h6>Episodes: ${show.episodes_watched} / ${show.episode_number}</h6>
        
                    </div>
                    <div class="progress ">
                      <div class="progress-bar" role="progressbar" 
                      v-bind:style="{width: (show.episodes_watched * 100 /show.episode_number) + '%'}"
                       aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li>
              </ul>

              <ul v-if="current_page === 'onHold'">
                <li v-for="(show, index) in onHold" 
                style="display: inline-block; margin-left:20px; margin-right: 20px; vertical-align: top;">
                  <div class="card" style="width:300px; height: 650px; background-color: #2C363F; color: white;">
                    <img class="card-img-top" style="height: 400px" v-bind:src="show.image_url" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">${show.title}</h4>
          
                      <div class="card-body" style="padding-left: 0px;">
                        <button v-if="show.favorite == false" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                          <i class="fa fa-heart fa-2x"></i>
                        </button>
                        <button v-if="show.favorite == true" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)">
                            <i class="fa fa-heart fa-2x" style="color: red"></i>
                        </button>

                        <button v-on:click="info_button_clicked(show.mal_id)" style="border-radius: 10px; background-color: #2E51A2;">
                          <i class="fa fa-info-circle fa-2x"></i>
                        </button>
                      </div>

                      <h6>Episodes: ${show.episodes_watched} / ${show.episode_number}</h6>
        
                    </div>
                    <div class="progress ">
                      <div class="progress-bar" role="progressbar" 
                      v-bind:style="{width: (show.episodes_watched * 100 /show.episode_number) + '%'}"
                       aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li>
              </ul>

              <ul v-if="current_page === 'completed'">
                <li v-for="(show, index) in completed" 
                style="display: inline-block; margin-left:20px; margin-right: 20px; vertical-align: top;">
                  <div class="card" style="width:300px; height: 650px; background-color: #2C363F; color: white;">
                    <img class="card-img-top" style="height: 400px" v-bind:src="show.image_url" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">${show.title}</h4>
          
                      <div class="card-body" style="padding-left: 0px;">
                        <button v-if="show.favorite == false" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                          <i class="fa fa-heart fa-2x"></i>
                        </button>
                        <button v-if="show.favorite == true" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)">
                            <i class="fa fa-heart fa-2x" style="color: red"></i>
                        </button>

                        <button v-on:click="info_button_clicked(show.mal_id)" style="border-radius: 10px; background-color: #2E51A2;">
                          <i class="fa fa-info-circle fa-2x"></i>
                        </button>
                      </div>

                      <h6>Episodes: ${show.episodes_watched} / ${show.episode_number}</h6>
        
                    </div>
                    <div class="progress ">
                      <div class="progress-bar" role="progressbar" 
                      v-bind:style="{width: (show.episodes_watched * 100 /show.episode_number) + '%'}"
                       aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li>
              </ul>

              <ul v-if="current_page === 'dropped'">
                <li v-for="(show, index) in dropped" 
                style="display: inline-block; margin-left:20px; margin-right: 20px; vertical-align: top;">
                  <div class="card" style="width:300px; height: 650px; background-color: #2C363F; color: white;">
                    <img class="card-img-top" style="height: 400px" v-bind:src="show.image_url" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">${show.title}</h4>
          
                      <div class="card-body" style="padding-left: 0px;">
                        <button v-if="show.favorite == false" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                          <i class="fa fa-heart fa-2x"></i>
                        </button>
                        <button v-if="show.favorite == true" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)">
                            <i class="fa fa-heart fa-2x" style="color: red"></i>
                        </button>

                        <button v-on:click="info_button_clicked(show.mal_id)" style="border-radius: 10px; background-color: #2E51A2;">
                          <i class="fa fa-info-circle fa-2x"></i>
                        </button>
                      </div>

                      <h6>Episodes: ${show.episodes_watched} / ${show.episode_number}</h6>
        
                    </div>
                    <div class="progress ">
                      <div class="progress-bar" role="progressbar" 
                      v-bind:style="{width: (show.episodes_watched * 100 /show.episode_number) + '%'}"
                       aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li>
              </ul>

          </div>

          <!-- Search Page: Search for an Anime to Add to Your list ------------------------------------------------------------------- -->
          <div class="search_page" v-if="current_page === 'search'">
            <div class="search_page_container">
              <div class="search_bar_container">
                <input id="search_input_box" type="text" placeholder="Search.." name="search" v-model="input_search">
                <button class="search_submit_button" type="submit" v-on:click="search_for_anime()"><i class="fa fa-search"></i></button>
              </div>

              <div class="search_result_container">
                <ul>
                  <li v-for="(searched_show, index) in searched_anime" class="searched_results">
                    <div class="card search_card">
                      <h4 class="card-title search_result_card_title">${searched_show.title}</h4>
                      <div class="search_card_inner">
                        <img class="card-img-top search_result_image" v-bind:src="searched_show.image_url" alt="Card image">
                        <div class="card-body search_result_card_body">
              
                          <div class="card-body search_result_card_smaller_body">
                          <p>Type: ${searched_show.type}</p>
                          <p>Community Rating: ${searched_show.score}</p>
                          <p>Number of Episodes: ${searched_show.episodes}</p>
                          </div>
                          <button v-if="searched_show.added_to_lists === false" 
                          v-on:click="add_selected_to_planToWatch(searched_show.mal_id, index)" class="search_add_buttons">
                            <i class="fa fa-plus"></i>
                          </button>
                          <button v-if="searched_show.added_to_lists === true" v-on:click="" class="search_add_buttons_checked">
                            <i class="fa fa-check"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>


                <!-- <ul>
                  <li v-for="(searched_show, index) in searched_anime">
                    <img v-bind:src = "searched_show.image_url">
                    <div style="color: black">
                        <p>Title: ${searched_show.title}</p>
                        <p>Type: ${searched_show.type}</p>
                        <p>Community Rating: ${searched_show.score}</p>
                        <p>Number of Episodes: ${searched_show.episodes}</p>
                    </div>
                    <button v-on:click="add_selected_to_planToWatch(searched_show.mal_id, index)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </li>
                </ul> -->
              </div>
            </div>
            
          </div>

          <!-- Favorites Page: Displays all the anime that the user has labeled as favorite ----------------------------------------------->
          <div class="shows_container" style="background-color: #E1E7F5; padding-top: 20px; padding-left: 100px;" v-if="(current_page === 'favorites')">

            <div class="favorites_title_container"><h2>Favorites</h2></div>

            <!-- Make sure that all functions work with favorites -->
              <ul v-if="current_page === 'favorites'">
                <li v-for="(show, index) in favorites" 
                style="display: inline-block; margin-left:20px; margin-right: 20px; vertical-align: top;">
                  <div class="card" style="width:300px; height: 650px; background-color: #2C363F; color: white;">
                    <img class="card-img-top" style="height: 400px" v-bind:src="show.image_url" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">${show.title}</h4>
          
                      <div class="card-body" style="padding-left: 0px;">
                        <button v-if="show.favorite == false" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                          <i class="fa fa-heart fa-2x"></i>
                        </button>
                        <button v-if="show.favorite == true" style="border-radius: 10px; background-color: #2E51A2;" 
                            v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)">
                            <i class="fa fa-heart fa-2x" style="color: red"></i>
                        </button>

                        <button v-on:click="info_button_clicked(show.mal_id)" style="border-radius: 10px; background-color: #2E51A2;">
                          <i class="fa fa-info-circle fa-2x"></i>
                        </button>
                      </div>

                      <h6>Episodes: ${show.episodes_watched} / ${show.episode_number}</h6>
        
                    </div>
                    <div class="progress ">
                      <div class="progress-bar" role="progressbar" 
                      v-bind:style="{width: (show.episodes_watched * 100 /show.episode_number) + '%'}"
                       aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </li>
              </ul>

          </div>

          <!-- Random Anime Page ------------------------------------------------------------------------>
          <div class="shows_container" style="background-color: #E1E7F5; padding-top: 20px; padding-left: 100px;" 
          v-if="(current_page === 'random')">

          <!-- This will immediately switch to the info page -->

          </div>


          <!-- Info Page for a specific Anime --------------------------------------------------------------------------------------------->
          <div class="specific_info_container" v-if="(current_page === 'infoPage')">

            <div class="favorites_title_container"><h2>${specified_anime.title}</h2></div>

            <div class="info_container_2">
              <div id="specific_anime_image_box"><img v-bind:src="specified_anime.image_url" id="specific_anime_image"></div>
              <div id="anime_status_ranking">
                <div id="anime_status_ranking_box">

                  <div id="anime_status">
                    <div class="info_box_title">Status</div>
                    <div class="anime_status_elements container">

                      <div class="third anime_status_elements_inside">
                        <!--<label class="">Select Option</label>-->
                        <div class="container anime_status_elements_inside_box">
                          <label class="quarter center" style="margin-top: 31px">List: <!-- ${specified_anime_user_info.list_status} --></label>
                          <select class="fill" id="select_list_status" v-model="stat" name="stat">
                            <option v-for=" stat in list_stats" :value="stat">${stat}</option>
                            <!-- <option>Plan To Watch</option>
                            <option>Watching</option>
                            <option>On Hold</option>
                            <option>Completed</option>
                            <option>Dropped</option> -->
                          </select>
                        </div>
                      </div>

                      <div class="third anime_status_elements_inside">
                        <div class="container anime_status_elements_inside_box">
                          <label class="quarter center" style="margin-top: 31px">Rating: <!-- ${specified_anime_user_info.user_score} --></label>
                          <select class="fill" id="select_rating" v-model="rating" name="rating">
                            <option v-for="rating in ratings" :value="rating">${rating}</option>
                            <!-- <option >(0) Unrated</option>
                            <option>(1) Garbage</option>
                            <option>(2) Horrible</option>
                            <option>(3) Very Bad</option>
                            <option>(4) Bad</option>
                            <option>(5) Average</option>
                            <option>(6) Ok</option>
                            <option>(7) Good</option>
                            <option>(8) Great</option>
                            <option>(9) Amazing</option>
                            <option>(10) Work Of Art</option> -->
                          </select>
                        </div>
                      </div>

                      <div class="third anime_status_elements_inside">
                        <div class="container anime_status_elements_inside_box">
                          <label class="quarter center" style="margin-top: 31px">
                          Episodes: ${specified_anime_user_info.episodes_watched}/${specified_anime_user_info.episode_number}</label>
                          <div class="center" style="margin-top: 0px">
                            <input type="number" placeholder="0" v-model="ep_count"
                            step="1" min="0" v-bind:max="specified_anime_user_info.episode_number" class="fill" id="select_episode_count">
                          </div>
                        </div>
                      </div>
                      <div id="submit_button_container">
                        <button v-if="submit_pressed === 'waiting'" v-on:click="update_stat_ep_rating(specified_anime.mal_id)" 
                        id="submit_button">Submit Changes</button>
                        <button v-if="submit_pressed === 'loading'" v-on:click="" 
                        id="submit_button">Submit Changes <i class="fa fa-spinner"></i></button>
                        <button v-if="submit_pressed === 'check'" v-on:click="" 
                        id="submit_button">Submit Changes <i class="fa fa-check"></i></button>

                      </div>
                    </div>
                    
                  </div>

                  <div id="anime_ranking">
                    <div class="info_box_title"> Community Ranking</div>
                    <div class="container anime_ranking_elements">
                      
                      <div class=" anime_ranking_elements_container third "><p>Score: ${specified_anime.score}</p></div>
                      <div class=" anime_ranking_elements_container third "><p>Ranking: #${specified_anime.rank}</p></div>
                      <div class=" anime_ranking_elements_container third "><p>Popularity: #${specified_anime.popularity}</p></div>

                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="extra_info_container container">

              <div class="quarter show_informaiton_left">
                <div class="center padding show_informaiton_left_box">
                  <div class="info_box_title">Information</div>
                  <div class="show_informaiton_left_contents">
                    <p>Type: ${specified_anime.type}</p>
                    <p>Episodes: ${specified_anime.episodes}</p>
                    <p>Status: ${specified_anime.status}</p>
                    <p>Aired: ${specified_anime.aired_string}</p>
                    <p>Premiered: ${specified_anime.premiered}</p>
                    <p>Broadcast: ${specified_anime.broadcast}</p>
                    <p>Source: ${specified_anime.source}</p>
                    <p v-for="(studio, index) in specified_anime.studio">Studio ${index + 1}: ${studio.name}</p>
                    <p>Rating: ${specified_anime.rating}</p>
                    <p>Duration: ${specified_anime.duration}</p>
                    <p>Genres:</p>
                    <p v-for="genre in specified_anime.genre" style="line-height: 10px">${genre.name}</p>
                  </div>
                </div>
              </div>

              <div class="threequarters show_information_right">
                <div class="center padding show_information_right_box">
                  <div class="info_box_title">Synopsis</div>
                  <div class="show_informaiton_right_box_contents">
                    <p>${specified_anime.synopsis}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


      {{else:}}

      <div class="Welcome">
        <div class="Welcome_image"><img src="../static/images/AnimeTracker-logo-blue.png"></div>
        <div class="Welcome_title"><h2>Welcome to Anime Tracker</h2></div>
        <div class="Welcome_paragraph">
          <ul>
            <li>Here you will be able to organize your list of anime.<li>
            <li>To begin tracking your anime please log-in</li>
            <li>Once logged in you can search for anime and add them to your <i>Planned-To-Watch</i> List.</li>
          </ul>
        </div>
      </div>
      {{pass}}
  </div>

</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
