{{extend 'layout.html'}}

{{block head}}

        <script src="{{=URL('static', 'js/vue.js')}}"></script>
        <link href="{{=URL('static','css/Alfredo_custom.css')}}" rel="stylesheet" type="text/css"/>
        <script>
            // Define URLS
            var get_watch_list_url = "{{=URL('api','get_watch_list')}}";
            var test_url = "{{=URL('api','testing')}}";
            var test_post_entry_url = "{{=URL('api','test_post_entry')}}";
            var search_for_anime_url = "{{=URL('api', 'search_for_anime')}}";
            var add_selected_to_planToWatch_url = "{{=URL('api', 'add_selected_to_planToWatch')}}";
            var add_favorites_url = "{{=URL('api', 'add_favorites')}}";
            var remove_favorites_url = "{{=URL('api', 'remove_favorites')}}";
            var get_favorites_list_url = "{{=URL('api', 'get_favorites_list')}}";
            var get_anime_info_url = "{{=URL('api', 'get_anime_info')}}";
            var update_users_stats_url = "{{=URL('api', 'update_users_stats')}}";
            var user_logged_in = false;
        </script>
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->

  <div id="vue-div" class="display:none">

      {{if auth.user is not None:}}
          <script>user_logged_in = true;</script>

          <!-- Defines the sidebar that allows the user to navigate the space -->
          <div class="sidebar" id="my_side_menu">
              <button class="rounded center" id="user_icon">
                  <i class="fa fa-user fa-5x"></i>
              </button>

              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('home')">
                  <i class="fa fa-home fa-2x"></i>
              </button>
              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('favorites')">
                  <i class="fa fa-heart fa-2x"></i>
              </button>
              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('add')">
                  <i class="fa fa-plus fa-2x"></i>
              </button>
              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('search')">
                  <i class="fa fa-search fa-2x"></i>
              </button>
              <button class="rounded center side_bar_buttons_g1" v-on:click="menu_button_clicked('random')">
                  <i class="fa fa-question-circle fa-2x"></i>
              </button>
              <button class="rounded center" id="sign_out">
                  <i class="fa fa-sign-out fa-2x"></i>
              </button>
          </div>

          <!-- Creates the Tabs for different lists when on the home screen -->
          <div class="tabs" v-if="(current_page === 'watching') || (current_page === 'planToWatch') || (current_page === 'completed') || (current_page === 'onHold') || (current_page === 'dropped') || (current_page === 'home')">
              <button class="tab_link" id="initial" v-on:click="tab_clicked('watching', $event)">Watching</button>
              <button class="tab_link" v-on:click="tab_clicked('planToWatch', $event)">Plan To Watch</button>
              <button class="tab_link" v-on:click="tab_clicked('onHold', $event)">On Hold</button>
              <button class="tab_link" v-on:click="tab_clicked('completed', $event)">Completed</button>
              <button class="tab_link" v-on:click="tab_clicked('dropped', $event)">Dropped</button>

          </div>

          <!-- Defines the container used when displaying lists of shows ---------------------------------------------------------- -->
          <div class="shows_container container" v-if="(current_page === 'watching') || (current_page === 'planToWatch') || (current_page === 'completed') || (current_page === 'onHold') || (current_page === 'dropped') || (current_page === 'home')">
              <!-- planToWatch List of shows -->
              <!-- *********************** Scott: This is the code that I'm trying to use to make containers **********-->
              <!-- ******** Scott: The related css file is Alfredo_custom.css but I haven't created any for this container yet-->
              <ul v-if="current_page === 'planToWatch'">
                <li v-for="(show, index) in planToWatch">

                  <div class="card half">

                    <div class="image_holder third">
                      <img v-bind:src="show.image_url">
                    </div>
                    <div class="anime_info_container twothirds">

                      <div class="show_title container">
                        <p>${show.title}</p>
                      </div>
                      <div class="button_container container">

                        <div class="button_container_left container half">
                          <div class="button_fav half">
                            <button v-if="show.favorite == false" 
                            v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                              <i class="fa fa-heart fa-2x"></i>
                            </button>
                            <button v-if="show.favorite == true" 
                            v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)">
                              <i class="fa fa-heart fa-2x"></i>
                            </button>
                          </div>
                          <div class="button_info half">
                            <button v-on:click="info_button_clicked(show.mal_id)">
                              <i class="fa fa-info fa-2x"></i>
                            </button>
                          </div>
                        </div>

                      </div>
                      <div class="episode_container container">
                        <p>Episodes: ${show.episodes_watched} / ${show.episode_number}</p>
                      </div>
                      <div class="progress_bar_container2 container">
                        <div class="progress_bar_empty"></div>
                        <div class="progress_bar_filled"></div>
                      </div>

                    </div>

                  </div>
                  
                </li>
              </ul>
              <!-- ********* Scott: This is the end of the code that I am having problems with *******-->

              <!-- <ul class="container" v-if="current_page === 'planToWatch'">
                  <li v-for="(show, index) in planToWatch" class="half lifted show_box">
                      <img v-bind:src="show.image_url" class="anime_image">
                      <div class="anime_info_box blue">
                          <h5 class="anime_title"> ${show.title}</h5>
                          <button v-if="show.favorite == false" class="favorites_card_button"
                          v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <button v-if="show.favorite == true" class="favorites_card_button" 
                          v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)" 
                          style="color: red;">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <button class="info_button" v-on:click="info_button_clicked(show.mal_id)">
                            <i class="fa fa-info fa-2x"></i>
                          </button>
                          <p>Episodes: ${show.episodes_watched} / ${show.episode_number}</p>
                          <div class="progress_bar_container">
                            <div class="progress_bar_fill"></div>
                          </div>
                          
                      </div>
                  </li>
              </ul> -->

              <ul class="container" v-if="current_page === 'watching'">
                  <li v-for="(show, index) in watching" class="half lifted show_box">
                      <img v-bind:src="show.image_url" class="anime_image">
                      <div class="anime_info_box blue">
                          <h5 class="anime_title"> ${show.title}</h5>
                          <button v-if="show.favorite == false" class="favorites_card_button"
                          v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <button v-if="show.favorite == true" class="favorites_card_button" 
                          v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)" 
                          style="color: red;">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <button class="info_button" v-on:click="info_button_clicked(show.mal_id)">
                            <i class="fa fa-info fa-2x"></i>
                          </button>
                          <p>Episodes: ${show.episodes_watched} / ${show.episode_number}</p>
                          <div class="progress_bar_container">
                            <div class="progress_bar_fill"></div>
                          </div>
                          
                      </div>
                  </li>
              </ul>
          </div>

          <!-- Search Page: Search for an Anime to Add to Your list ------------------------------------------------------------------- -->
          <div class="search_page" v-if="current_page === 'search'">
            <div class="search_bar_container">
              <input type="text" placeholder="Search.." name="search" v-model="input_search">
              <button type="submit" v-on:click="search_for_anime()"><i class="fa fa-search"></i></button>
            </div>

            <div class="search_result_container">
              <ul>
                <li v-for="(searched_show, index) in searched_anime">
                  <img v-bind:src = "searched_show.image_url">
                  <div style="color: black">
                      <p>Title: ${searched_show.title}</p>
                      <p>Type: ${searched_show.type}</p>
                      <p>Community Rating: ${searched_show.score}</p>
                      <p>Number of Episodes: ${searched_show.episodes}</p>
                  </div>
                  <button v-on:click="add_selected_to_planToWatch(searched_show.mal_id, index)">
                    <i class="fa fa-plus"></i>
                  </button>
                </li>
              </ul>
            </div>
            
          </div>

          <!-- Favorites Page: Displays all the anime that the user has labeled as favorite ----------------------------------------------->
          <div class="shows_container" style="background-color: yellow;" v-if="(current_page === 'favorites')">
            <!-- Make sure that all functions work with favorites -->
            <ul class="container" v-if="current_page === 'favorites'">
                  <li v-for="(show, index) in favorites" class="half lifted show_box">
                      <!-- <img v-bind:src="show.image_url" class="anime_image">
                      <div class="anime_info_box blue">
                          <h5 style="text-align: center;">${show.title}</h5>
                          <button v-if="show.favorite == false" class="favorites_card_button"
                          v-on:click="add_favorites(show.id, show.mal_id, index, current_page)" 
                          style="color: lightgrey; border-radius: 9px;">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <button v-if="show.favorite == true" class="favorites_card_button" 
                          v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)" 
                          style="color: red; border-radius: 9px;">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <p>Episodes: ${show.episodes_watched} / ${show.episode_number}</p>
                          <div class="progress_bar_container">
                            <div class="progress_bar_fill"></div>
                          </div> -->
                      <img v-bind:src="show.image_url" class="anime_image">
                      <div class="anime_info_box blue">
                          <h5 class="anime_title"> ${show.title}</h5>
                          <button v-if="show.favorite == false" class="favorites_card_button"
                          v-on:click="add_favorites(show.id, show.mal_id, index, current_page)">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <button v-if="show.favorite == true" class="favorites_card_button" 
                          v-on:click="remove_favorites(show.id, show.mal_id, index, current_page)" 
                          style="color: red;">
                              <i class="fa fa-heart fa-2x"></i>
                          </button>
                          <button class="info_button" v-on:click="info_button_clicked(show.mal_id)">
                            <i class="fa fa-info fa-2x"></i>
                          </button>
                          <p>Episodes: ${show.episodes_watched} / ${show.episode_number}</p>
                          <div class="progress_bar_container">
                            <div class="progress_bar_fill"></div>
                          </div>
                          
                      </div>
                  </li>
              </ul>

          </div>

          <!-- Info Page for a specific Anime --------------------------------------------------------------------------------------------->
          <div class="specific_info_container" v-if="(current_page === 'infoPage')">
            <div class="info_container_2">
              <img v-bind:src="specified_anime.image_url" id="specific_anime_image">
              <div id="anime_status">
                <div class="info_box_title">Status</div>
                <div class="anime_status_elements container" style="margin-right: 0;">

                  <div class="third">
                    <!--<label class="">Select Option</label>-->
                    <div class="container">
                      <label class="quarter" style="margin-top: 31px">List: <!-- ${specified_anime_user_info.list_status} --></label>
                      <select class="fill" id="select_list_status" v-model="stat" name="stat">
                        <option v-for=" stat in list_stats" :value="stat">${stat}</option>
                        <!-- <option>Plan To Watch</option>
                        <option>Watching</option>
                        <option>On Hold</option>
                        <option>Completed</option>
                        <option>Dropped</option> -->
                      </select>
                    </div>
                  </div>

                  <div class="third">
                    <div class="container">
                      <label class="quarter center" style="margin-top: 31px">Rating: <!-- ${specified_anime_user_info.user_score} --></label>
                      <select class="fill" id="select_rating" v-model="rating" name="rating">
                        <option v-for="rating in ratings" :value="rating">${rating}</option>
                        <!-- <option >(0) Unrated</option>
                        <option>(1) Garbage</option>
                        <option>(2) Horrible</option>
                        <option>(3) Very Bad</option>
                        <option>(4) Bad</option>
                        <option>(5) Average</option>
                        <option>(6) Ok</option>
                        <option>(7) Good</option>
                        <option>(8) Great</option>
                        <option>(9) Amazing</option>
                        <option>(10) Work Of Art</option> -->
                      </select>
                    </div>
                  </div>

                  <div class="third">
                    <div class="container">
                      <label class="quarter center" style="margin-top: 31px">
                      Episodes: ${specified_anime_user_info.episodes_watched}/${specified_anime_user_info.episode_number}</label>
                      <div class="center" style="margin-top: 0px">
                        <input type="number" placeholder="0" v-model="ep_count" 
                        step="1" min="0" max="100" class="fill" id="select_episode_count">
                      </div>
                    </div>
                  </div>
                  <div> <button v-on:click="update_stat_ep_rating(specified_anime.mal_id)">Submit Changes</button></div>
                </div>
                
              </div>
            </div>
          </div>

      {{pass}}
  </div>

</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
