.body_style{
    background-color: #E1E7F5;
}
#my_side_menu{
    background-color: #2E51A2;
    /* stupid.css change
    width:150px;
    margin-left:-140px;
    */
}
#user_icon{
    background-color: transparent;
    color: white;
    margin-top: 32px;
    margin-bottom: 32px;

}
.side_bar_buttons_g1{
    margin-bottom: 16px;
    background-color: #E1E7F5;
    color: black;
}
#sign_out{
    background-color: #E75A7C;
    color: white;
    margin-top: 64px;
}
div.tabs{
    padding-left: 100px;
    width: 100%;
    height: 48px;
    background-color: white
}
button.tab_link {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 18%;
}
button.tab_link:hover{
    background-color: red;
}

/* Displaying shows tiles--------------------------*/

.shows_container{
    background-color: yellow;
}

li.looping_container{
    display: inline-block;
    margin-left:20px;
    margin-right: 20px;
    vertical-align: top;
}

/* Old show tiles */
li.show_box{
    background-color: #2C363F;
    height: 300px;
    /*width: 47%;
    margin-left: 25px;*/
}
.anime_image{
    /*height: 355px;
    width: 255px;*/
    height: 100%;
    width: auto;
    display: inline-block;
    /*vertical-align: middle;*/
}
.anime_info_box{
    display: inline-block;
    vertical-align: top;
    /*background-color: #2C363F;*/
    background-color: blue;
    height: 100%;
    width:auto;
    /*width: 400px;
    height: 355px;
    margin-left: 20px;*/
}
div.anime_info_box > .anime_title{
    text-align: center;
}

button.favorites_card_button{
    background-color: #2C363F;
    color: lightgrey; 
    border-radius: 9px;
}

button.info_button{
    background-color: #2C363F;
    color: green;
    border-radius: 9px;
}
.progress_bar_container{
    background-color: lightgrey;
    width: 100%;
    height: 10px;
}

.progress_bar_fill{
    background-color: red;
    width: 50%;
    height: 10px;
}

/* Specific Info Page -----------------------------------------------*/
div.specific_info_container{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #E1E7F5;
}

div.info_container_2{
    background-color: #E1E7F5;
    margin: auto;
    width: 80%;
}

#specific_anime_image_box{
    display: inline-block;
    margin-top: 30px;
    width: 23.5%;
    /*max-width: 300px;*/
}
#specific_anime_image{
    display: block;
    margin: auto;
    /*width: 80%;*/
}

#anime_status_ranking{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    /*padding-right: 10px;*/
    padding-left: 0px;

}

#anime_status_ranking_box{
    /*background-color: red;*/
    margin: auto;
    width: 106%;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;

}

#anime_status, #anime_ranking{
    /*display: inline-block;*/
    background-color: #2C363F;
    color: white;
    width: 100%;
    vertical-align: top;
    border-radius: 1px;
    margin-bottom: 20px;
    padding-bottom: 20px
    /*height: 130px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;*/
}

div.anime_ranking_elements{
    margin-right: 0px;
}

div.info_box_title{
    text-align: center;
    width: 100%;
    background-color: #2E51A2;
    height: 20px;
    font-size: 20;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

div.anime_status_elements{
    margin-right: 0px;
}
div.anime_status_elements_inside{
}
div.anime_status_elements_inside_box{
    padding-right: 20px;
    padding-left: 20px;
}

#select_list_status, #select_rating, #select_episode_count{
    -webkit-appearance: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 20px;
    margin: 0.5px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    background-color: white;
}
#select_list_status, #select_rating{
    /*margin-top: 50px;*/
}

div.anime_ranking_elements_container{
    /*height: 100%;*/
}
div.anime_ranking_elements_container > p{
    padding-top: 40px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

div.extra_info_container{
    background-color: transparent;
    margin: auto;
    width: 80%;
    padding-top: 20px;
}

div.show_informaiton_left{
    background-color: transparent;
}

div.show_informaiton_left_box{
    background-color:  #E1E7F5;
}

div.show_informaiton_left_contents{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    background-color: #2C363F;
    min-height: 300px;
}

div.show_information_right{
    background-color: transparent;
}

div.show_information_right_box{
    background-color:  transparent;
    width: 100%;
}

div.show_informaiton_right_box_contents{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #2C363F;
    min-height: 300px;
    line-height: 30px;
}

#submit_button_container{
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}
#submit_button{
    background-color: #008CBA;
    color: white;
    border-radius: 12px;
}

#submit_button:hover{
    background-color: pink;
    color: black;
}


/* Card ----------------------------------------------------------------------*/
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  color: black;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-top,
  .card-group > .card:first-child .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-bottom,
  .card-group > .card:first-child .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-top,
  .card-group > .card:last-child .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-bottom,
  .card-group > .card:last-child .card-footer {
    border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
    border-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-top,
  .card-group > .card:only-child .card-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-bottom,
  .card-group > .card:only-child .card-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

/* Progress  bar -----------------------------------------------*/
progress {
  vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}


/* Search Page --------------------------------------------------------------------------------------------------*/
div.search_page{
    width: 100%;
    height: 100%;
    background-color: #E1E7F5;

}
div.search_page_container{
    width: 70%;
    height: 100%;
    margin:auto;
}

#search_input_box{
    margin-top: 20px;
    width: 90%;
    height: 30px;
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}
button.search_submit_button{
    width: 8%;
    border-radius: 8px;
    background-color: #008CBA;
}

button.search_submit_button:hover{
    width: 8%;
    border-radius: 8px;
    background-color: pink;
}

li.searched_results{
    display: inline-block;
    margin-left:20px;
    margin-right: 20px;
    vertical-align: top;
}
div.search_card{
    width:600px;
    height: 300px;
    background-color: #2C363F;
    color: white;
    display: inline-block;
}

div.search_card_middle{
}

div.search_card_inner{
    /*display: inline-block;*/
    width: 90%;
    height: 100%;
    margin: auto;
    /*vertical-align: center;*/
    padding-left: 40px;
}

img.search_result_image{
    display: inline-block;
    height: 140px;
    width: 100px;
}

div.search_result_card_body{
    display: inline-block;
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: center;
}

h4.search_result_card_title{
    text-align: center;
    width: 100%;
}

div.search_result_card_smaller_body{
    padding-left: 0px;
}