#my_side_menu{
    background-color: #2E51A2;
    /* stupid.css change
    width:150px;
    margin-left:-140px;
    */
}
#user_icon{
    background-color: transparent;
    color: white;
    margin-top: 32px;
    margin-bottom: 32px;

}
.side_bar_buttons_g1{
    margin-bottom: 16px;
    background-color: #E1E7F5;
    color: black;
}
#sign_out{
    background-color: #E75A7C;
    color: white;
    margin-top: 64px;
}
div.tabs{
    padding-left: 100px;
    width: 100%;
    height: 48px;
    background-color: white
}
button.tab_link {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 18%;
}
button.tab_link:hover{
    background-color: red;
}
.show_box{
    background-color: #2C363F;
    height: 300px;
    /*width: 47%;
    margin-left: 25px;*/
}
.anime_image{
    /*height: 355px;
    width: 255px;*/
    height: auto;
    width: auto;
    display: inline-block;
    /*vertical-align: middle;*/
}
.anime_info_box{
    display: inline-block;
    vertical-align: top;
    /*background-color: #2C363F;*/
    background-color: blue;
    /*width: 400px;
    height: 355px;
    margin-left: 20px;*/
}
button.favorites_card_button{
    background-color: #2C363F;
}

button.info_button{
    background-color: #2C363F;
}
.progress_bar_container{
    background-color: lightgrey;
    width: 100%;
    height: 10px;
}

.progress_bar_fill{
    background-color: red;
    width: 50%;
    height: 10px;
}

/* Specific Info Page */
div.specific_info_container{
    width: 100%;
}

div.info_container_2{
    background-color: orange;
    margin: auto;
    width: 80%;
}

#specific_anime_image{
    display: inline-block;
    margin-top: 30px;
}

#anime_status{
    display: inline-block;
    background-color: darkgrey;
    width: 60%;
    vertical-align: top;
    border-radius: 1px;
    height: 150px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

div.info_box_title{
    text-align: center;
    width: 100%;
    background-color: #2E51A2;
    height: 20px;
    font-size: 20;
    font-family: sans-serif;
    font-weight: bold;
}

div.anime_status_elements{

}

#select_list_status, #select_rating, #select_episode_count{
    -webkit-appearance: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 20px;
    margin: 0.5px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    background-color: white;
}
#select_list_status, #select_rating{
    margin-top: 50px;
}